.profiles{
    background-color: black;
    height: 100vh;
    display: flex;
}
.profile > h2{
    color: white;
    font-size: 2em;
    font-weight: bold;
    margin-top: 20px;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.profile{
    cursor: pointer;
    margin: 10px;
    width: 250px;
}
.profile > img{
    width: 100%;
    height: 100%;
}
.profile > svg{
    width: 60%;
    height: 60%;
    padding: 20%;
    color: lightgray;
}