.HomeView{
    background: linear-gradient(rgba(0, 0, 0, 0.8),rgba(12, 12, 12, 0.1),rgba(0, 0, 0, 0.8)), url(../../Assets/GuiFlixBackGroundHome.jpg);
    height: 90vh;
    width: 100%;
    background-repeat: no-repeat;
    color: White;
}
.divLink1 {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.divLink2 {
    margin-top: 5vh;
}

.divText {
    width: 50vw;
    text-align: center;
    margin: auto;
    text-shadow: 1px 1px 2px black;
}
.h1Text{
    font-weight: bold;
    font-size: 60px;
    margin-top: 15vh;
}
@media (max-width: 1000px),(max-height:650px) {
    .divText,.divLink1{
        display: none;
    }
    .btnHome{
        transform: scale(1.5);
        margin: 5vw;
    }
    .divLink2{
        margin: 0;
        padding: 20vh 0 0 0;
    }

}
@media(max-width:350px),(max-height:200px){
    .divLink2{
        display: none;
    }
}