.carousel {
    background-color: black;
    padding: 5vh 3vw;
}

.titleCarousel {
    color: white;
    display: flex;
    font-weight: bold;
    font-size: 25px;
    padding: 2vh 0;
}

.contentCarousel {
    width: 90%;
    margin: auto;
    display: flex;
    height: 250px;
    justify-content: space-between;
    overflow: hidden;
}

.mediaCarousel {
    display: flex;
    overflow: hidden;
    flex-shrink: 0;
    transition: transform 0.5s;
}

.buttonPrevCarousel {
    position: absolute;
    left: 5%;
    top: 50%;
    background: none;
    color: white;
    font-size: 40px;
    padding: 6px;
    border: none;
}

.buttonPrevCarousel:hover {
    transform: scale(1.4);
}
.buttonNextCarousel {
    position: absolute;
    right: 5%;
    top: 50%;
    background: none;
    color: white;
    font-size: 40px;
    padding: 6px;
    border: none;
}
.buttonNextCarousel:hover {
    transform: scale(1.4);
}