.NavBar{
    background-color: black;
    color: white;
    display: flex;
    width: 100%;
}
.linkNavBar{    
    text-decoration: none;
    font-weight: bold;
    color:white;
    font-size: 25px;
    padding: 0 3vw;
    margin: auto 0;
}
.linkNavBar:hover{
    color: red;
}
.smallScreen{
    display: none;
}
@media(max-width:870px){
    .smallScreen{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .largeScreen{
        display: none;
    }
}
.navDisconnect{
    cursor: pointer;
    text-decoration: none;
    color: brown;
}
.navProfiles{
    color: lightseagreen;
}